# ==================================
# DATABASE VARIABLES
# ==================================
MYSQL_ROOT_PASS=yourRootPassword
MYSQL_USER=wordpress_user
MYSQL_PASS=yourWordPressPassword
MYSQL_DB=wordpress_db

# ==================================
# USER / PERMISSIONS CONFIGURATION
# ==================================
# Run 'echo $UID' in your terminal and set the number here to fix permissions on Linux
UID=1000
WP_USER=admin_user
WP_PASSWORD=yourSecureAdminPassword
WP_EMAIL=admin@properhotel.local

# ==================================
# URL / PORTS
# ==================================
WP_HOST=yourgost.local
WP_PORT=80
WORDPRESS_URL=https://yourgost.local

# For local environment: internal
# For a real public domain: remove this label from compose or change the strategy
CADDY_TLS_MODE=internal
